<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.sv.views.ml"
          name="SV 2D Segmentation"
          class="svMLSeg2DEdit"
          icon="resources/contourgroup.png" />
    <view id="org.sv.views.segmentation3d"
          name="SV 3D Segmentation"
          class="svMLSeg3DEdit"
          icon="resources/svseg3d.png" />

  </extension>

  <extension point="org.mitk.gui.qt.datamanager.contextMenuActions">
      <contextMenuAction nodeDescriptorName="svSegmentationFolder" label="Create Contour Group" icon="" class="svMLContourGroupCreateAction" />
      <contextMenuAction nodeDescriptorName="svSegmentationFolder" label="Create 3D Segmentation" icon="" class="svMLSeg3DCreateAction" />
      <contextMenuAction nodeDescriptorName="svSegmentationFolder" label="Import Segmentations" icon="" class="svMLSegmentationLoadAction" />
      <contextMenuAction nodeDescriptorName="svSegmentationFolder" label="Import Legacy Segmentations" icon="" class="svMLSegmentationLegacyLoadAction" />
      <contextMenuAction nodeDescriptorName="svSegmentationFolder" label="Export All as Legacy Segmentations" icon="" class="svMLSegmentationLegacySaveAction" />
      <contextMenuAction nodeDescriptorName="svContourGroup" label="Point 2D Size" icon="" class="svMLContourGroupPoint2DSizeAction" />
      <contextMenuAction nodeDescriptorName="svContourGroup" label="Point 3D Size" icon="" class="svMLContourGroupPoint3DSizeAction" />
  </extension>

</plugin>
